$bgcolor: unquote('#b5b2d4');
$bgcolor2: unquote('#eef0f2cc');

$highlight: unquote('#4a2545');
$highlightopac: unquote('#4a2545cc');

$black: unquote('#1c1c1c');
$blackopac: unquote('#1c1c1ccc');
$white: unquote('#ecebe4');
$whiteopac: unquote('#ecebe4cc');

$title: 'Fugaz One', cursive;
$body: 'Montserrat', sans-serif;