$bgcolor: #b5b2d4;
$bgcolor2: #eef0f2cc;

$highlight: #4a2545;
$highlightopac: #4a2545cc;

$black: #1c1c1c;
$white: #ecebe4;
$whiteopac: #ecebe4cc;

$title: 'Fugaz One', cursive;
$body: 'Montserrat', sans-serif;