@import 'setup';
@import 'utils';
@import 'typography';

html, body {
  background-color: $bgcolor;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.mainStartPage, .formPage, .resultsPage, .trailerPage {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 8%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: $bgcolor;
}

.mainStartPage {
  grid-template-rows: 1fr auto;
  i {
    min-width: 112.5px;
  }
} 

header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > * {
    margin: 10%;
  }
}

button, label, input[type=submit] {
  justify-self: center;
  padding: 8px 18px;
  width: auto;
  color: $white;
  background-color: $bgcolor;
  outline: none;
  border-radius: 18px;
  &:hover {
    background-color: $highlight;
  }
}
button, input[type=submit] {
  border: $white 2px solid;
}

.formPage {
  display: none;
  grid-template-rows: auto 1fr;
}

.formHeader {
  text-align: center;
}

form {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  .cuisines {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    &:before {
      content: "Choose a cuisine";
      margin: 10px;
      padding: 10px;
      width: 100%;
      text-transform: uppercase;
      border-bottom: 1px solid $blackopac;
    }
  }
  .entertainment {
    grid-column: span 1 / -1;
    grid-row: 1 / span 1;
    &:before {
      content: "Choose your entertainment";
      margin: 10px;
      padding: 10px;
      width: 100%;
      text-transform: uppercase;
      border-bottom: 1px solid $blackopac;
    }
  }
  .costs {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    &:before {
      content: "Choose your budget";
      margin: 10px;
      padding: 10px;
      width: 100%;
      text-transform: uppercase;
      border-bottom: 1px solid $blackopac;
    }
  }
  .movieGenres, .tvGenres {
    grid-column: span 1 / -1;
    grid-row: 2 / span 1; 
    &:before {
      content: "Choose a genre";
      margin: 10px;
      padding: 10px;
      width: 100%;
      text-transform: uppercase;
      border-bottom: 1px solid $blackopac;
    }
  }
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  text-align: center;
  border: none;
  & > * {
    flex-basis: 33%;
    }
  div {
    padding: 10px;
    // border: 1px solid white;
  }
}

input[type=radio] {
  display: none;
  &:checked + label {
    background-color: $highlight;
  }
}
label {
  border: none;
}

input[type=submit], .newForm {
  justify-self: center;
  align-self: center;
  font-family: $body;
  grid-column: 1 / -1;
  grid-row: span 1 / -1;
}

.resultsPage {
  padding: 8% 10px;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

.result {
  padding: 15% 0 5% 0;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-gap: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
	background-color: hsla(28, 28, 28, 0.9);
  &.restaurant {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  &.tv, &.movie {
    grid-column: span 1 / -1;
    grid-row: 2 / span 1;
  }
  .rating {
    min-height: 1.8rem;
    justify-self: center;
  }
  .text {
    padding: 0 10%;
    justify-self: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    & > p {
      height: 100px;
      justify-self: center;
      align-content: center;
      overflow: scroll;
    }
    &.restaurant {
      text-align: center;
    }
    .newForm {
      grid-column: 1 / -1;
      grid-row: span 1 / -1;
    }
  }
}

button {
  border: none;
  background: none;
    &:hover {
    color: $white;
    background-color: $highlightopac;
  }
}

.callAgain {
  width: 100%;
  color: $highlight;
  background-color: $whiteopac;
  border-radius: 0px;
  &:hover {
    color: $white;
  }
}

.trailerPage {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: none;
  justify-content: center;
  align-content: center;
  background-color: $bgcolor2;
  z-index: 99;
  &.show {
    display: grid;
  }
  .closeTrailer {
    justify-self: end;
    color: $black;
    background: none;
    border: none;
  }
}

.animate {
    animation-duration: 0.8s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
.fadeinup {
    animation-name: fadeInUp;
}

.fadeinright {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

// ============ RESPONSIVE ===========
@media (max-width: 1350px) {
  fieldset div {
    padding: 6px;
    flex: 0 1 50%;
    label {
      padding: 3px 8px 5px 8px;
    }
  }
}
@media (max-width: 720px) {
  .result .text {
    padding: 0 5%;
  }
  fieldset div {
    padding: 4px;
    label {
      padding: 1px 2px;
      border-radius: 0;
    }
  }
}
@media (max-width: 625px) {
  .formPage {
    padding: 5% 2%;
  }
  form {
    grid-template-rows: 1fr 1fr auto;
  }
  .result .text {
    padding: 0 5%;
  }
  .resultsPage {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto;
  }
  input[type=submit] {
    grid-row: span 1 / -1;
    font-size: 2.4rem;
  }
  .resultsPage {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-gap: 10px;
    .result {
      padding: 8px 0;
      & > .text {
        padding: 25px;
        & > p {
          max-height: 80px;
        }
      }
      &.restaurant {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
      }
      &.tv, &.movie {
        grid-column: 1 / -1;
        grid-row: span 1 / -2;
      }
    }
  }
}

@media (max-width: 530px) {
  fieldset div {
    padding: 8px 0;
  }
}

@media (max-width: 470px) {
  input[type=submit] {
    font-size: 2rem;
  }
  .trailerPage .closeTrailer {
    justify-self: start;
  }
}