@import 'setup';
@import 'utils';
@import 'typography';


html {
  background-color: #fff; 
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

fieldset {
  border: none;
  display: flex;
  div {
    padding: 10px;
    input[type=radio] {
      display: none;
      &:checked + label {
        background-color: $highlight;
      }
    }
    label {
      padding: 10px;
      border-radius: 10px;
      &:hover {
        background-color: $highlight;
      }
      
    }
  }
}

