html{
    font-size: 62.5%;
}

body, p {
  font-family: $body;
  font-size: 1.6rem;
}

h1 {
  font-family: $title;
  font-size: 8rem;
    text-align: center;
  display: block;
  max-width: min-content;
  justify-self: center;
  align-self: center;
}

label {
    font-size: 3rem;
    // font-weight: 700;
    text-transform: lowercase;
}