html{
    font-size: 62.5%;
}

body, p {
  font-family: $sanserif;
  font-size: 1.6rem;
}

h1, label {
  font-family: $serif;
}

label {
    font-size: 3rem;
    // font-weight: 700;
    text-transform: lowercase;
}