@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #ecebe4;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem; }

h1, h2, h3 {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
  margin: 0;
  display: inline-block;
  color: #ecebe4;
  font-family: "Fugaz One", cursive;
  text-align: center; }

h1 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  font-size: 8rem;
  line-height: 8rem; }

h2 {
  font-size: 6rem; }

h3 {
  font-size: 4rem; }

.mainStartPage i {
  font-size: 10rem; }

.resultsPage i, .resultsPage .watchTrailer {
  font-size: 2rem;
  text-transform: uppercase; }

.resultsPage .watchTrailer:before, .resultsPage .watchTrailer:after {
  content: " — "; }

.resultsPage .callAgain {
  font-size: 1.8rem; }

button, label, input[type=submit] {
  text-align: center;
  text-transform: lowercase;
  font-size: 2.8rem; }

button, input[type=submit] {
  font-weight: 600; }

html {
  background-color: #fff; }

body {
  overflow: hidden; }

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto; }

.mainStartPage, .formPage, .resultsPage, .trailerPage {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 8%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #b5b2d4; }

.mainStartPage {
  grid-template-rows: 1fr auto; }
  .mainStartPage i {
    min-width: 112.5px; }

header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  header > * {
    margin: 10%; }

button, label, input[type=submit] {
  justify-self: center;
  padding: 8px 18px;
  width: auto;
  color: #ecebe4;
  background-color: #b5b2d4;
  outline: none;
  border-radius: 18px; }
  button:hover, label:hover, input[type=submit]:hover {
    background-color: #4a2545; }

button, input[type=submit] {
  border: #ecebe4 2px solid; }

.formPage {
  display: none;
  grid-template-rows: auto 1fr; }

form {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto; }
  form .cuisines {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; }
  form .entertainment {
    grid-column: span 1 / -1;
    grid-row: 1 / span 1; }
  form .costs {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1; }
  form .movieGenres, form .tvGenres {
    grid-column: span 1 / -1;
    grid-row: 2 / span 1; }

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: none; }
  fieldset > * {
    flex-basis: 33%; }
  fieldset div {
    padding: 10px; }

input[type=radio] {
  display: none; }
  input[type=radio]:checked + label {
    background-color: #4a2545; }

label {
  border: none; }

input[type=submit], .newForm {
  justify-self: center;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  grid-column: 1 / -1;
  grid-row: span 1 / -1; }

.resultsPage {
  padding: 8% 10px;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px; }

.result {
  padding: 15% 0 5% 0;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-gap: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(91, 70, 51, 0.9); }
  .result.restaurant {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1; }
  .result.tv, .result.movie {
    grid-column: span 1 / -1;
    grid-row: 2 / span 1; }
  .result .rating {
    min-height: 1.8rem;
    justify-self: center; }
  .result .text {
    padding: 0 10%;
    justify-self: center;
    display: grid;
    grid-template-rows: auto 1fr auto; }
    .result .text > p {
      max-height: auto;
      justify-self: center;
      align-content: center;
      overflow: scroll; }
    .result .text.restaurant {
      text-align: center; }
      .result .text.restaurant p {
        font-style: italic; }
  .result button {
    border: none;
    background: none; }
    .result button:hover {
      color: #ecebe4;
      background-color: #4a2545cc; }
  .result .callAgain {
    width: 100%;
    color: #4a2545;
    background-color: #ecebe4cc;
    border-radius: 0px; }
    .result .callAgain:hover {
      color: #ecebe4; }

.trailerPage {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: none;
  justify-content: center;
  align-content: center;
  background-color: #eef0f2cc;
  z-index: 99; }
  .trailerPage.show {
    display: grid; }
  .trailerPage .closeTrailer {
    justify-self: end;
    color: #1c1c1c;
    background: none;
    border: none; }

.animate {
  animation-duration: 0.8s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }

.fadeinup {
  animation-name: fadeInUp; }

.fadeinright {
  animation-name: fadeInRight; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }
